.send-message-form {
  display: flex;
  gap: 12px;
  padding: 16px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: sticky;
  z-index: 10;
  bottom: 0;
  right: 0;
  flex-direction: column;
}

.preview-image {
  height: 75px;
  align-self: flex-start;
  border-radius: 6px;
  position: relative;
}

.preview-image img {
  border-radius: 6px;
  border: 1px solid #ccc;
}

.close-button {
  position: absolute;
  top: -10px; 
  right: -10px;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: rgba(240, 240, 240); 
}

.message-image {
  height: 150px;
  margin-top: 8px;
  border-radius: 6px;
}

.message-image img {
  border-radius: 6px;
  border: 1px solid #ccc;
}

.emoji-item {
  font-size: 22px;
  cursor: pointer;
}

.reaction-box-container {
  margin-left: 8px;
  align-self: center;
  opacity: 0;
  display: flex;
  gap: 8px;
}

.send-message-form .MuiInputBase-root.MuiOutlinedInput-root {
  padding: 9px 12px !important;
}

.reaction-list {
  margin-top: 8px;
  border-radius: 50px;
  border: 1px solid #eee;
  width: fit-content;
  padding: 1px 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.message-event {
  text-align: center;
  margin: 8px 0;
  font-size: 14px;
  color: gray;
}